
.home-middle-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}


.home-middle-contact {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.home-middle-text{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 30px;
}


.home-middle-contact img{
    margin-top: 50px;
    width: 100px;
    height: 100px;
    align-self: flex-start;
}