.home{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    height: 300px;
    /* margin-left: 10px;
    margin-right: 10px; */
    margin: 10px;
    opacity: 0.7;
color: whitesmoke;

    height: 680px;
}
.home-left{
    background-color: #1F4E4D;
    /* background-color: lightslategray; 
    color: seashell;        */
    /* opacity: 0.7; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: overline underline;
}
.home-left img{
    width: 30px;
    height: 30px;
}

.home-left img:hover{
    width: 40px;
    height: 40px;
}


.home-left a{
    margin-top: 60px;
    font-size: 40px;
    color: whitesmoke;
}

.home-left a:hover{
    font-size: 30px;
    color: #00FFFF;
}

.home-middle{
    background-color: #1DB9C4;
    /* opacity: 0.3; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-right{
    background-color: #36799B;
    border-radius: 15px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-right img{
    width: 30px;
    height: 30px;
}

.home-right img:hover{
    width: 40px;
    height: 40px;
}

#error404 {
    margin-top: 30px;
}

.home-middle h3, h2{
    margin: 40px;
}


.home-middle img {
    border-radius: 15px;
    width: 400px;
    height: 300px;
}

